<div class="my-account-container">
  <div class="content">
    <ng-container *ngIf="canShowShimmer()">
      <div class="shimmer shimmer-h3" [style.width]="'110px'"></div>

      <div class="shimmer-horizontal">
        <div
          class="shimmer-data-item shimmer"
          [style.width]="width + 'px'"
          *ngFor="let width of dataItemWidths"
        ></div>
      </div>
    </ng-container>

    <ng-container *ngIf="isLoaded()">
      <h3>Meus dados</h3>

      <div class="data-item-list">
        <div class="data-item">
          <span>Nome</span>
          <span>{{ userProfile.firstName + " " + userProfile.lastName }}</span>
        </div>

        <div class="data-item">
          <span>Email</span>
          <span>{{ userProfile.email }}</span>
        </div>
        <!--
        <div class="data-item">
          <span>CPF</span>
          <span>{{ userProfile.cpf }}</span>
        </div>

        <div class="data-item">
          <span>Celular</span>
          <span>{{ userProfile.cellphone }}</span>
        </div> -->

        <div class="data-item">
          <span>Último login</span>
          <span>{{ userProfile.lastLoginAt | date : "dd/MM/yyyy HH:mm" }}</span>
        </div>
        <app-button
          variant="outline-tiny"
          [width]="'200px'"
          (click)="modalChangePasswordComponent.open()"
          >Alterar senha</app-button
        >
      </div>

      <h3>Minha assinatura</h3>
      <div
        class="data-item-list"
        *ngIf="userProfile.subscription === null; else hasUserSubscription"
      >
        <span>Você não tem uma assinatura.</span>
      </div>

      <ng-template #hasUserSubscription>
        <div class="data-item-list">
          <div class="data-item">
            <span>Status</span>
            <span>{{ getSubscriptionStatus() }}</span>
          </div>
          <div class="data-item">
            <span>Última Atualização</span>
            <span>{{
              userProfile.subscription?.updatedAt | date : "dd/MM/yyyy HH:mm"
            }}</span>
          </div>
        </div>
      </ng-template>

      <h3>Plataformas vinculadas</h3>

      <div
        class="data-item-list"
        *ngIf="userProfile.vinculations.length === 0; else hasVinculations"
      >
        <span>Não há nenhuma plataforma vinculada.</span>
      </div>

      <ng-template #hasVinculations>
        <div class="data-item-list">
          <div
            class="data-item vinculation-item"
            *ngFor="let vinculation of userProfile.vinculations"
          >
            <div>
              <span>{{ vinculation.platform }}</span>
              <span>{{ vinculation.nickname }}</span>
            </div>
            <app-button
              variant="outline-tiny"
              (click)="unvinculate(vinculation.id)"
              >Desvincular</app-button
            >
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>

<app-modal-change-password></app-modal-change-password>
