<div class="wrapper">
  <div class="section">
    <form (submit)="addSubscription()">
      <h3>Adicionar Assinatura</h3>
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="emailToAddSubscription"
        [ngModelOptions]="{ standalone: true }"
      />
      <app-button
        type="submit"
        variant="outline-tiny"
        [enableLoading]="true"
        (onSafeClick)="addSubscription()"
        >Adicionar</app-button
      >
    </form>
  </div>

  <div class="section">
    <form (submit)="removeSubscription()">
      <h3>Remover Assinatura</h3>
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="emailToRemoveSubscription"
        [ngModelOptions]="{ standalone: true }"
      />
      <app-button
        type="submit"
        variant="outline-tiny"
        [enableLoading]="true"
        (onSafeClick)="removeSubscription()"
        >Remover</app-button
      >
    </form>
  </div>
</div>
