<div class="container">
  <div class="pattern-list">
    <div
      class="pattern-item"
      *ngFor="let pattern of patterns; let patternIndex = index"
    >
      <div class="pattern-item-header">
        <span class="pattern-item-header-title"
          >Padrão {{ patternIndex + 1 }}</span
        >

        <button (click)="duplicatePattern({ patternIndex })">
          <span class="material-icons"> content_copy </span>Duplicar
        </button>
        <button (click)="deletePattern({ patternIndex })">
          <span class="material-icons"> delete_forever </span>Excluir
        </button>

        <div
          class="pattern-item-header-target"
          (click)="openPatternTargetConfig({ patternIndex })"
        >
          <span class="material-icons"> trending_up </span>
          Alvo:
          <span
            class="pattern-item-header-target-color"
            [class.block-red]="pattern.target === 'red'"
            [class.block-black]="pattern.target === 'black'"
            [class.block-white]="pattern.target === 'white'"
          >
          </span>

          <div
            class="pattern-config-tooltip"
            *ngIf="isPatternTargetConfigOpen({ patternIndex})"
          >
            <section style="margin-top: 0 !important">
              <div
                class="pattern-config-tooltip-button color block-black"
                (click)="
              changePatternTarget({ patternIndex }, 'black')"
              ></div>
              <div
                class="pattern-config-tooltip-button color block-red"
                (click)="
              changePatternTarget({ patternIndex }, 'red')
            "
              ></div>
              <div
                class="pattern-config-tooltip-button color block-white"
                (click)="
              changePatternTarget({ patternIndex }, 'white')
            "
              ></div>
            </section>
          </div>
        </div>

        <app-dropdown
          *ngIf="responsitivy.isPhone"
          [items]="dropdownItems"
          [handlerParams]="{ patternIndex }"
        >
          <span class="material-icons"> more_vert </span>
        </app-dropdown>
      </div>

      <div class="pattern-item-list">
        <div
          class="pattern-item-list-item"
          *ngFor="
            let patternItem of pattern.pattern;
            let patternItemIndex = index
          "
          [class.block-red]="patternItem.color === 'red'"
          [class.block-black]="patternItem.color === 'black'"
          [class.block-white]="patternItem.color === 'white'"
          [class.block-random]="
            patternItem.color === 'random' ||
            patternItem.color === 'redwhite' ||
            patternItem.color === 'blackred' ||
            patternItem.color === 'blackwhite'
          "
          [class.block-focus]="isPatternItemConfigOpen({ patternIndex, patternItemIndex})"
          (click)="openPatternItemConfig({ patternIndex, patternItemIndex }); $event.stopPropagation()"
        >
          {{ patternItem.roll ?? "" }}

          <ng-container *ngIf="patternItem.color === 'blackred'">
            <div
              class="block-random-double"
              [style.background]="'#292C48'"
            ></div>
            <div
              class="block-random-double"
              [style.background]="'#FD0E0E'"
            ></div>
          </ng-container>

          <ng-container *ngIf="patternItem.color === 'redwhite'">
            <div
              class="block-random-double"
              [style.background]="'#FD0E0E'"
            ></div>
            <div
              class="block-random-double"
              [style.background]="'rgba(255, 255, 255, 0.87)'"
            ></div>
          </ng-container>

          <ng-container *ngIf="patternItem.color === 'blackwhite'">
            <div
              class="block-random-double"
              [style.background]="'#292C48'"
            ></div>
            <div
              class="block-random-double"
              [style.background]="'rgba(255, 255, 255, 0.87)'"
            ></div>
          </ng-container>

          <ng-container *ngIf="patternItem.color === 'random'">
            <div class="block-random-triple"></div>
            <div class="block-random-triple"></div>
            <div class="block-random-triple"></div>
          </ng-container>

          <div
            #tooltipElement
            class="pattern-config-tooltip"
            *ngIf="isPatternItemConfigOpen({ patternIndex, patternItemIndex})"
          >
            <section>
              <div
                class="pattern-config-tooltip-button"
                (click)="deletePatternItem({ patternIndex, patternItemIndex })"
              >
                <span class="material-icons"> delete_forever </span>
              </div>

              <div
                class="pattern-config-tooltip-button color block-black"
                (click)="
              changePatternItemColor({ patternIndex, patternItemIndex }, 'black')
            "
              ></div>
              <div
                class="pattern-config-tooltip-button color block-red"
                (click)="
              changePatternItemColor({ patternIndex, patternItemIndex }, 'red')
            "
              ></div>

              <div
                class="pattern-config-tooltip-button color block-white"
                (click)="
              changePatternItemColor({ patternIndex, patternItemIndex }, 'white')
            "
              ></div>

              <select
                *ngIf="
                  patternItem.color !== 'white' &&
                  patternItem.color !== 'random' &&
                  patternItem.color !== 'blackred' &&
                  patternItem.color !== 'blackwhite' &&
                  patternItem.color !== 'redwhite'
                "
                (change)="onPatternItemRollSelectChange($event,{ patternIndex, patternItemIndex })"
                [value]="patternItem.roll"
              >
                <option [selected]="patternItem.roll == undefined">#</option>
                <option
                  [value]="roll"
                  [selected]="patternItem.roll === roll"
                  *ngFor="
                    let roll of patternItem.color === 'black'
                      ? blackRolls
                      : redRolls
                  "
                >
                  {{ roll }}
                </option>
              </select>
            </section>
            <section>
              <div
                class="pattern-config-tooltip-button color block-random tooltip top"
                (click)="
                changePatternItemColor({ patternIndex, patternItemIndex }, 'random')
              "
                data-tooltip="Qualquer cor"
              >
                <div class="block-random-triple"></div>
                <div class="block-random-triple"></div>
                <div class="block-random-triple"></div>
              </div>

              <div
                class="pattern-config-tooltip-button color block-random tooltip top"
                (click)="
              changePatternItemColor({ patternIndex, patternItemIndex }, 'blackred')
            "
                data-tooltip="Preto ou Vermelho"
              >
                <div
                  class="block-random-double"
                  [style.background]="'#292C48'"
                ></div>
                <div
                  class="block-random-double"
                  [style.background]="'#FD0E0E'"
                ></div>
              </div>

              <div
                class="pattern-config-tooltip-button color block-random tooltip top"
                (click)="
                changePatternItemColor({ patternIndex, patternItemIndex }, 'redwhite')
              "
                data-tooltip="Vermelho ou Branco"
              >
                <div
                  class="block-random-double"
                  [style.background]="'#FD0E0E'"
                ></div>
                <div
                  class="block-random-double"
                  [style.background]="'rgba(255, 255, 255, 0.87)'"
                ></div>
              </div>

              <div
                class="pattern-config-tooltip-button color block-random tooltip top"
                (click)="
              changePatternItemColor({ patternIndex, patternItemIndex }, 'blackwhite')
            "
                data-tooltip="Preto ou Branco"
              >
                <div
                  class="block-random-double"
                  [style.background]="'#292C48'"
                ></div>
                <div
                  class="block-random-double"
                  [style.background]="'rgba(255, 255, 255, 0.87)'"
                ></div>
              </div>
            </section>
          </div>
        </div>

        <span
          (click)="addPatternListItem({ patternIndex })"
          class="pattern-item-list-add-button material-icons"
        >
          add
        </span>
      </div>
    </div>
  </div>

  <div class="add-pattern-button" (click)="addPattern()">
    <span class="material-icons"> add </span>
    Adicionar novo padrão
  </div>
</div>
