<div class="modal-wrapper" *ngIf="isOpen" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="modal-container">
    <div class="modal-header">
      <h3>Alterar senha</h3>

      <span (click)="close()" class="modal-header-close-button material-icons">
        close
      </span>
    </div>

    <div class="modal-content">
      <form (submit)="submit()">
        <app-input
          name="oldPassword"
          label="Senha Antiga"
          placeholder="Digite a senha antiga"
          type="password"
          [form]="form"
          inputWidth="100%"
        ></app-input>
        <app-input
          name="password"
          label="Nova Senha"
          placeholder="Digite a nova senha"
          type="password"
          [form]="form"
          inputWidth="100%"
        ></app-input>
        <app-input
          name="password2"
          label="Confirmação"
          placeholder="Confirme a nova senha"
          type="password"
          [form]="form"
          inputWidth="100%"
        ></app-input>
        <app-button type="submit" [enableLoading]="true"
          >Alterar senha</app-button
        >
      </form>

      <div class="error-message">
        <span *ngIf="isErrored">Não foi possível alterar a senha</span>
      </div>
    </div>
  </div>
</div>
