<div class="modal-wrapper" *ngIf="isOpen" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="modal-container">
    <div class="modal-header">
      <h3>Termos de Uso</h3>

      <span (click)="close()" class="modal-header-close-button material-icons">
        close
      </span>
    </div>

    <div class="modal-content">
      <p>Seja muito bem-vindo(a) aos Termos e Condições de Uso do SharkAuto.</p>
      <p>
        (GP Software LTDA. sob o CNPJ n° 43.438.999/0001-68, com endereço à Rua
        Jose Domingues dos Santos, 135 – Jardim Ismenia, São José dos Campos/SP,
        CEP 12221-060)
      </p>
      <p>
        Com a leitura destes termos, você terá conhecimento de todas as
        funcionalidades da programação, de como nosso serviço é prestado, de
        nossas responsabilidades e de como você deverá utilizar nossos serviços.
      </p>
      <p>
        <strong
          >Ao acessar ou utilizar as funcionalidades, você declara que fez a
          leitura completa e atenta das regras aqui constantes, estando
          plenamente ciente e de acordo com os Termos de Uso.</strong
        >
      </p>
      <p>
        Por favor, na hipótese de você não concordar com algo estipulado neste
        documento, descontinue o acesso do nosso aplicativo e comunique-nos o
        que te afligiu.
      </p>
      <p>
        Estamos sempre dispostos a lhe proporcionar a melhor experiência
        possível (sem você não seríamos nada!).
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>FUNCIONALIDADES E SERVIÇOS</strong></span
        >
      </p>
      <p>
        Nós criamos o melhor robô para Blaze, você poderá agir com a estratégia
        que preferir (baseado em padrões da Blaze) e o robô irá operar de forma
        automática de acordo com os valores que você estipulou ao nosso robô.
      </p>
      <p>
        A melhor parte é que você poderá definir a estratégia, gerenciamento de
        risco e alavancagem.
      </p>
      <p>
        Nosso propósito é auxiliar todos os nossos clientes a terem sucesso em
        suas ações.
      </p>
      <p>
        Utilizando o nosso robô da maneira correta e usando um bom gerenciamento
        de risco, há probabilidade de se ter lucros.
      </p>
      <p>
        Disponibilizamos, atualmente, 1 (um) tipo de assinatura mensal, no valor
        de R$ 199,90 (cento e noventa e nove reais e noventa centavos), podendo
        ser alterado este valor a qualquer momento..
      </p>
      <p>
        Após a adesão aos nossos serviços e a devida aprovação, para o Bot se
        conectar a Blaze, você precisará gerar um código na Blaze e colar no
        nosso site.
      </p>
      <p>
        Não será permitida a adesão dos nossos serviços a menores de 18 anos de
        idade.
      </p>
      <p>
        Ressaltamos que somos uma ferramenta para auxiliar o usuário a ter mais
        resultados, de forma que não garantimos resultados, sendo que a nossa
        ferramenta deve ser utilizada como facilitadora para aprimorar as suas
        análises.
      </p>
      <p>
        Nós poderemos recusar, não aprovar, cancelar ou limitar o seu acesso
        caso seja verificado que você está utilizando dos nossos serviços de
        maneira fraudulenta ou contrária aos Termos de Uso.
      </p>
      <p>
        Então, colabore com o nosso propósito e não utilize de forma indevida,
        ok?
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>PERFIL DO USUÁRIO</strong></span
        >
      </p>
      <p>
        Se você se interessou pelos nossos serviços, significa que você é um
        usuário da blaze.
      </p>
      <p>
        Para utilizar os serviços, você precisa ser maior de 18 anos, capaz de
        exercer pessoalmente os atos da vida civil e estar ciente das sanções
        legais previstas no Código Civil e demais legislações.
      </p>
      <p>
        Caso você realize a adesão dos nossos serviços por mais de uma vez, nós
        poderemos excluir, a nosso critério e sem aviso prévio, os seus
        cadastros e impedir cadastros futuros.
      </p>
      <p>
        O cadastro está sujeito à nossa aprovação, devendo ser fornecido por
        você os seguintes dados:
      </p>
      <p>a) Nome completo;</p>
      <p>b) CPF;</p>
      <p>c) E-mail;</p>
      <p>d) Data de nascimento;</p>
      <p>e) Número de telefone;</p>
      <p>
        f) Número do cartão de crédito, validade, nome do titular e código de
        segurança em caso de preferir realizar pagamentos via cartão de crédito;
      </p>
      <p>g) Endereço completo.</p>
      <p>
        Nos reservamos o direito de recusar qualquer solicitação de adesão e de
        cancelar uma adesão previamente aceita, sempre no intuito de manter o
        bom funcionamento dos nossos serviços e das diretrizes da nossa
        comunidade.
      </p>
      <p>
        Não se esqueça, você também é responsável pelo sigilo de seus Dados.
        Tenha ciência de que o compartilhamento de senhas e dados de acesso ao
        site não é permitido, uma vez que poderá comprometer a segurança dos
        seus Dados e do nosso canal.
      </p>
      <p>
        Se você perceber ou tomar conhecimento de que houve o comprometimento de
        segurança em sua conta, não deixe de entrar em contato com a plataforma
        e nos comunicar imediatamente, através dos nossos canais de atendimento
        do WhatsApp (+55 12 98269-7883) e informar o que aconteceu.
      </p>
      <p>
        Não se esqueça que o seu acesso a plataforma e ao site são únicos e
        intransferíveis, de forma que você não poderá ceder, vender, alugar ou
        realizar qualquer tipo de transferência com a sua conta.
      </p>
      <p>
        Infelizmente, se apurarmos tal situação, você será banido da nossa
        comunidade.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>RESTRIÇÕES DE USO</strong></span
        >
      </p>
      <p>
        Para a sua segurança e dos nossos serviços e site, existem algumas
        situações que são restritas.
      </p>
      <p>
        Se você realizar algo ilegal ou contrário ao que estamos informando
        nestes Termos de Uso, a sua conta, infelizmente, será cancelada e você
        não poderá acessar a nossa comunidade.
      </p>
      <p>
        Por favor, preste atenção nas seguintes disposições, porque queremos
        manter você conosco e fortalecer cada vez mais o nosso mundo de
        apostadores esportivos:
      </p>
      <p>
        a) Você se compromete a não acessar áreas de programação da Plataforma,
        seu banco de dados, códigos fonte ou qualquer outro conjunto de dados
        disponíveis nestes ambientes, bem como não realizar ou permitir
        engenharia reversa, nem traduzir, decompilar, copiar, modificar,
        reproduzir, alugar, sublicenciar, publicar, divulgar, transmitir,
        emprestar, distribuir ou, de outra maneira, dispor inapropriadamente das
        funcionalidades da Plataforma; e
      </p>
      <p>
        b) Você se compromete a não utilizar softwares de mineração de dados
        (bots, crawler, spider, etc.), de qualquer tipo ou espécie, além de
        outro aqui não tipificado que atue de modo similar;
      </p>
      <p>
        Se você violar quaisquer disposições constantes dos Termos de Uso, você
        deverá nos indenizar e indenizar terceiros eventualmente lesados,
        inclusive os danos de ordem moral ou concorrencial, despesas ou outros
        encargos ocasionados por tal violação, incluindo, mas não se limitando,
        a honorários advocatícios e despesas judiciais em razão da violação
        mencionada.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>DO PAGAMENTO</strong></span
        >
      </p>
      <p>
        Após adesão ao plano através do nosso site, a solicitação ficará
        condicionada à confirmação do pagamento por meio do qual você escolher.
      </p>
      <p>O preço pago por você deverá ser pago mensalmente.</p>
      <p>
        Caso seja solicitado a você algum outro pagamento para ingresso em
        qualquer outro serviço relacionado, não o efetue e entre em contato
        conosco imediatamente. Estaremos juntos com você para auxiliar no que
        for necessário.
      </p>
      <p>
        Sabemos que eventualidades acontecem e, caso seja necessário o
        cancelamento do plano aderido, não se preocupe, a plataforma de
        pagamentos é responsável por realizar o reembolso, desde que esteja em
        um período de 7 dias desde a adesão.
      </p>
      <p>Além de que você pode cancelar a assinatura a qualquer momento.</p>
      <p>
        Se o método de pagamento escolhido for via boleto, esse será cancelado
        automaticamente e nenhum valor será cobrado.
      </p>
      <p>
        Infelizmente, caso você não efetue o pagamento do serviço prestado, você
        reconhece que estes Termos de Uso possuem força de título executivo,
        possibilitando o nosso ingresso com uma ação de execução de título
        extrajudicial, com o objetivo de recebimento dos valores em aberto.
      </p>
      <p>
        Não se esqueça que a falta de pagamento é um dos motivos de banimento da
        comunidade. Por favor, mantenha o pagamento em dia para que possamos
        manter o nosso bom relacionamento, auxiliando você todos os dias com os
        sinais.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong
            >CONTEÚDO, DADOS SUBMETIDOS E PROPRIEDADE INTELECTUAL</strong
          ></span
        >
      </p>
      <p>
        Nós amamos o nosso nome e a marca que carregamos por toda nossa
        comunidade!
      </p>
      <p>
        Assim, todas as notícias, informações, imagens, vídeos, textos e marcas
        disponibilizadas pela GP Software e Shark Bot, em qualquer mídia social,
        idioma ou forma, são de nossa exclusiva propriedade ou licenciados a
        nós.
      </p>
      <p>
        Só o fato de utilização de nossos serviços, não gera qualquer presunção
        de transferência dessa propriedade ou licença a você.
      </p>
      <p>
        Você não poderá usar as nossas marcas GP Software e Shark Bot, sem a
        nossa autorização, uma vez que esta é propriedade registrada. As
        fotografias e vídeos requerem autorização da empresa para reprodução
        editorial ou qualquer tipo de uso comercial.
      </p>
      <p>
        Se apurarmos que houve alguma intromissão, tentativa ou atividade que
        viole as leis de propriedade intelectual e/ou as estipuladas nestes
        Termos de Uso, você será responsável pela violação e pelo dano que
        eventualmente tenha causado, além de ser banido de nossa comunidade.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>PRIVACIDADE E PROTEÇÃO DE DADOS PESSOAIS</strong></span
        >
      </p>
      <p>
        Possuímos uma Política de Privacidade, que regula o tratamento dos dados
        pessoais coletados no aplicativo e contém todas as informações sobre as
        operações realizadas com os dados pessoais, sendo parte integrante e
        inseparável destes Termos de Uso, podendo ser acessada pelo link:
        https://sharkauto.com.br/ ao final da página.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>ISENÇÃO E LIMITAÇÕES DE RESPONSABILIDADE</strong></span
        >
      </p>
      <p>
        Queremos prover esse serviço inovador a você, apostador que sempre
        passou por dificuldades para compreender como utilizar da melhor maneira
        sua capacidade na Blazer.
      </p>
      <p>
        Entretanto, indisponibilidades temporárias poderão eventualmente ocorrer
        em razão de manutenção necessária ou mesmo gerada por motivo de força
        maior, como desastres naturais, falhas nos sistemas de comunicação e
        acesso à Internet, ataques cibernéticos invasivos, ou quaisquer fatos de
        terceiro que fogem da esfera de nossa vigilância e responsabilidade.
      </p>
      <p>
        Caso ocorra alguma dessas situações, faremos o possível e o que estiver
        ao nosso alcance para restabelecer os envios dos sinais o mais breve
        possível, sempre lembrando das limitações técnicas de seu dispositivo
        móvel e de serviços de terceiros, dos quais você necessita para
        permanecer online.
      </p>
      <p>
        Na hipótese de precisarmos realizar procedimentos de manutenção que
        acarretem a indisponibilidade por longos períodos, comunicaremos você
        por meio dos nossos canais oficiais de comunicação e estaremos dispostos
        a acharmos uma solução para que nenhuma das partes se prejudique pelo
        ocorrido.
      </p>
      <p>
        Ainda, em nenhuma circunstância, nós, nossos diretores ou funcionários
        serão responsáveis por quaisquer danos diretos ou indiretos, especiais,
        incidentais ou de consequência, perdas ou despesas oriundas da conexão
        com Blazer ou uso da sua parte ou incapacidade de uso por qualquer
        parte, ou com relação à qualquer falha de desempenho, erro, omissão,
        interrupção, defeito ou demora na operação ou transmissão, vírus de
        computador ou falha da linha ou do sistema.
      </p>
      <p>
        É importante relembrar que somos apenas uma facilitadora 100%
        automática, pois o usuário é responsável pela estratégia, gerenciamento
        de risco e alavancagem que irá adotar, mesmo que baseada em padrões da
        Blaze, de forma que não nos responsabilizamos:
      </p>
      <p>
        a) Pelo uso indevido das informaçõesenviadas, para quaisquer que sejam
        os fins, feito por você, sendo de sua inteira responsabilidade as
        eventuais lesões a direito próprio ou de terceiros, causadas ou não por
        esse uso inadequado;
      </p>
      <p>
        b) Por quaisquer problemas, bugs, glitches ou funcionamentos indevidos
        que ocorrerem nos seus dispositivos e equipamentos;
      </p>
      <p>
        c) Por qualquer dano direto ou indireto, obrigação ou prejuízo
        decorrente de qualquer operação ocasionado por eventos de terceiros, a
        exemplo, mas não se limitando a ataque de hackers, falhas no sistema, no
        servidor ou na conexão à internet, inclusive por ações de softwares que
        possam, de algum modo, danificar seus ativos físicos ou lógicos em
        decorrência do acesso, utilização ou navegação na Plataforma, bem como a
        transferência de dados, arquivos, imagens, textos, áudios ou vídeos
        contidos na Plataforma; e
      </p>
      <p>
        d) Pela sua navegação em quaisquer links externos disponibilizados nos
        canais de interações, bem como nos aplicativos que envolvem os serviços,
        sendo seu dever a leitura dos Termos de Uso e da Política de Privacidade
        de cada plataforma utilizada e envolvida na relação.
      </p>
      <p>
        Prometemos dar todo o suporte que estiver em nosso alcance para
        solucionarmos eventuais problemas, mas ressaltamos que não temos
        qualquer responsabilidade em razão destes, tendo em vista que somos uma
        plataforma que compartilha da inteligência artificial para realização de
        apostas esportivas. Por fim, ressaltamos que não possuímos nenhuma
        responsabilidade sobre os resultados das operações e transações nos
        referidos aplicativos.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>DISPOSIÇÕES GERAIS</strong></span
        >
      </p>
      <p>
        Não queremos parecer repetitivos, mas o nosso maior propósito é
        proporcionar uma experiência incrível a você, auxiliando todos os nossos
        clientes a terem sucesso em suas ações.
      </p>
      <p>
        Assim, caso seja necessário, nos reservamos ao direito de modificar
        estes termos a qualquer momento, conforme sua finalidade ou
        conveniência, cabendo a você verificar as atualizações sempre que
        efetuar o acesso no site.
      </p>
      <p>
        Em caso de existir grandes e importantes atualizações nestes Termos de
        Uso, comunicaremos você por meio de nossos canais oficiais de
        comunicação.
      </p>
      <p>
        Podemos ser tolerantes em alguns casos em que existir descumprimento das
        condições destes Termos de Uso, mas a mencionada tolerância não
        constituirá renúncia e não lhe autorizará a realizar práticas contrárias
        ao que informamos neste documento.
      </p>
      <p>
        Se alguma disposição dos Termos de Uso for julgada inaplicável ou sem
        efeito, o restante continuará a viger normalmente. Você poderá nos
        enviar um email (contato@gpsoftware.com.br) ou whatsapp (+55 12
        98269-7883) toda vez que presenciar ou verificar conteúdo impróprio em
        nossa comunidade, seja ele notadamente ilícito ou contrário às regras
        destes Termos, bem como para esclarecer dúvidas que venha a ter com
        relação as regras aqui estipuladas.
      </p>
      <p>Estamos sempre dispostos a esclarecer o que você precisar!</p>
      <p>
        Os Termos de Uso serão interpretados segundo a legislação brasileira, no
        idioma português, e fica eleito o foro da Comarca de São Paulo, Estado
        de São Paulo, para dirimir qualquer controvérsia, salvo se a legislação
        aplicável ressalvar especificamente outra competência pessoal,
        territorial ou funcional.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>GLOSSÁRIO</strong></span
        >
      </p>
      <p>Para os fins deste documento, aplicam-se seguintes definições:</p>
      <p>
        <strong>Bugs:</strong> Utilizado quando alguma falha lógica impede a
        execução de alguma operação na Plataforma.
      </p>
      <p>
        <strong>Canal:</strong>&nbsp; instagram.com.br/sharkbot_ | WhatsApp (+55
        12 98269-7883) | contato@gpsoftware.com.br
      </p>
      <p>
        <strong>Glitches:</strong> Utilizado para designar um funcionamento
        inesperado que impede a execução ou o bom funcionamento da operação
        pretendida na Plataforma.
      </p>
      <p><strong>Link:</strong> Terminologia para endereço de internet.</p>
      <p>
        <strong>Política de Privacidade:</strong> documento disponível em
        https://sharkauto.com.br/ ao final da página.
      </p>
      <p><strong>Usuário:</strong> Você!</p>
    </div>
  </div>
</div>
