<div class="signin-wrapper">
  <div class="logo-wrapper">
    <img src="./assets/shark-logo.png" alt="Logo" />
  </div>

  <div
    class="signin-container"
    [class.signin-container--xl]="step == 'COMPLETE_SIGN_UP'"
  >
    <h3>
      {{ step == "COMPLETE_SIGN_UP" ? "Complete seu Registro" : "Fazer login" }}
    </h3>

    <ng-container *ngIf="step === 'VERIFY_EMAIL'">
      <form (submit)="verifyEmail()">
        <app-input
          name="email"
          label="Email"
          placeholder="Digite seu email"
          [form]="verifyEmailForm"
          inputWidth="100%"
        ></app-input>

        <app-button
          type="submit"
          (onSafeClick)="verifyEmail()"
          [enableLoading]="true"
          >Continuar</app-button
        >
      </form>
    </ng-container>

    <ng-container *ngIf="step === 'SIGN_IN'">
      <form (submit)="signIn()">
        <app-input
          name="email"
          label="Email"
          placeholder="Digite seu email"
          [form]="signInForm"
          inputWidth="100%"
        ></app-input>

        <app-input
          name="password"
          label="Senha"
          placeholder="Digite sua senha"
          type="password"
          [form]="signInForm"
          inputWidth="100%"
        ></app-input>

        <app-button
          type="submit"
          (onSafeClick)="signIn()"
          [enableLoading]="true"
          >Fazer login</app-button
        >
      </form>
    </ng-container>

    <div class="anchor-registration" *ngIf="step !== 'COMPLETE_SIGN_UP'">
      <a [routerLink]="['/signup']"
        >Ainda não tem uma conta? <span>Registrar</span></a
      >
    </div>

    <div class="anchor-forgot-password" *ngIf="step !== 'COMPLETE_SIGN_UP'">
      <a [routerLink]="['/forgot-password']">Esqueci minha senha</a>
    </div>

    <div class="error-message">
      <span *ngIf="isErrored">{{ errorMessage }}</span>
    </div>
  </div>

  <div class="burocratic-container">
    <a (click)="modalService.open({ name: 'terms-of-service', data: {} })"
      >Termos de Uso</a
    >
    <a (click)="modalService.open({ name: 'privacy-policy', data: {} })"
      >Política de Privacidade</a
    >
  </div>
</div>
