<div class="container">
  <div class="trigger-list">
    <div
      class="trigger-item"
      *ngFor="let trigger of triggers; let index = index"
      (mouseenter)="visibleTriggerItems[index] = true"
      (mouseleave)="visibleTriggerItems[index] = false"
    >
      <div class="trigger-item-header">
        <div class="trigger-item-type">
          <span class="material-icons">
            {{ getStartTriggerTypeIcon(trigger.type) }}
          </span>
          <span>{{ getStartTriggerTypeTitle(trigger.type) }}</span>
        </div>
        <div
          class="trigger-item-actions"
          [style.opacity]="visibleTriggerItems[index] ? 1 : 0"
        >
          <app-dropdown [items]="triggerItemDropdownItems">
            <button>
              <span class="material-icons"> expand_more </span>
            </button>
          </app-dropdown>
        </div>
      </div>
      <div class="trigger-item-content">
        <p>"{{ trigger.name }}"</p>
      </div>
      <div class="trigger-item-footer">
        <span
          >{{ trigger.miscCount }}
          {{ getStartTriggerTypeMiscCountDescription(trigger.type) }}</span
        >
      </div>
    </div>
  </div>

  <div class="add-next-button" (click)="modalStartTriggersComponent.open()">
    <span class="material-icons"> add </span>
    <span> Adicionar Gatilho</span>
  </div>
</div>
<app-modal-start-triggers></app-modal-start-triggers>
