<div class="modal-wrapper" *ngIf="isOpen" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="modal-container">
    <div class="modal-header">
      <h3>Política de Privacidade</h3>

      <span (click)="close()" class="modal-header-close-button material-icons">
        close
      </span>
    </div>

    <div class="modal-content">
      <p>
        Seja muito bem-vindo(a) à Política de Privacidade e Tratamento de Dados
        Pessoais da GP Software LTDA.
      </p>
      <p>
        O objetivo desta política é demonstrar a você, usuário de nosso site e
        da nossa comunidade, de forma transparente e simples, que seguimos todas
        as regras para a proteção de seus Dados Pessoais e, consequentemente,
        protegemos a sua privacidade.
      </p>
      <p>
        Caso você não se sinta confortável lendo esta política e possua alguma
        dificuldade para compreender algum dos termos que constam aqui, não se
        preocupe! Basta nos contatar através do e-mail
        contato@gpsoftware.com.br, ficaremos felizes em esclarecer suas dúvidas.
      </p>
      <p>
        Após realizar a leitura desta política que ficará sempre disponível para
        sua consulta, você terá ciência de quais Dados Pessoais serão coletados
        e como serão tratados.
      </p>
      <p>
        Ressaltamos que nunca utilizaremos os seus dados para fins lucrativos!
        Cumprimos a lei e estaremos sempre dispostos a esclarecer o que for
        necessário. Também pedimos a você que, na hipótese de não concordar com
        algo estipulado nesta política, descontinue o acesso no site e
        comunique-nos o que te afligiu. Estamos sempre dispostos a lhe
        proporcionar a melhor experiência possível.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>DICIONÁRIO DE DEFINIÇÕES</strong></span
        >
      </p>
      <p>
        Para melhor entendimento desta Política, devem ser consideradas as
        seguintes definições:
      </p>
      <p>
        <strong>Cookies:</strong> pequenos arquivos enviados para o seu
        navegador ou dispositivos, que armazenam as suas preferências e outras
        informações sobre como e quando Nossos Ambientes são visitados, bem como
        a quantidade de pessoas que os acessam.
      </p>
      <p>
        <strong>Dados Pessoais ou Dados:</strong> são os dados relativos a uma
        pessoa física, que sejam capazes de identificá-la ou torná-la
        identificável. Por exemplo: Nome, e-mail, número do RG, preferências
        pessoais, endereço IP, geolocalização, etc.
      </p>
      <p>
        <strong>Dados Pessoais Sensíveis:</strong> são quaisquer Dados sobre
        origem racial ou étnica, convicção religiosa, opinião política, filiação
        a sindicato ou a organização de caráter religioso, filosófico ou
        político, dados referentes à saúde ou à vida sexual, dados genéticos ou
        biométricos, quando vinculados a uma pessoa física.
      </p>
      <p>
        <strong>Legislação aplicável:</strong> toda legislação que verse sobre
        privacidade e proteção de Dados Pessoais, especialmente a Lei nº
        13.709/2018 (Lei Geral de Proteção de Dados Pessoais – LGPD).
      </p>
      <p>
        <strong>Nossos ambientes:</strong> designa o endereço eletrônico
        www.sharkauto.com.br &amp; www.app.sharkauto.com.br.
      </p>
      <p>
        <strong>Política:</strong> é esta Política de Privacidade e Tratamento
        de Dados Pessoais.
      </p>
      <p>
        <strong>Titular dos Dados Pessoais:</strong> é você, a pessoa física a
        quem os Dados Pessoais se referem.<br />Tratamento: toda operação
        realizada com Dados Pessoais, como as que se referem a coleta, produção,
        recepção, classificação, utilização, acesso, reprodução, transmissão,
        distribuição, processamento, arquivamento, armazenamento, eliminação,
        avaliação ou controle da informação, modificação, comunicação,
        transferência, difusão ou extração.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>QUAIS DADOS PODERÃO SER COLETADOS POR NÓS?</strong></span
        >
      </p>
      <p>
        Como coletamos dados. Ao utilizar o nosso site, coletaremos alguns dados
        pessoais, sendo os seguintes:
      </p>
      <p>
        <strong>O que coletamos?</strong><br /><strong
          >Para que coletamos?</strong
        >
      </p>
      <p>
        <strong>Dados de Identificação digital</strong><br /><strong
          >Endereço IP e Porta Lógica de Origem</strong
        ><br />(i) Identificar e autenticar você.<br />(ii) Cumprir com
        obrigações legais de manutenção de registros estabelecidas pelo Marco
        Civil da Internet – Lei 12.965/2014.<br />(iii) Proteger Você realizando
        prevenção a fraudes, proteção ao crédito e riscos associados, além do
        cumprimento de obrigações legais e regulatórias;<br />(iv) Para
        possibilitar a prestação de serviço.<br />Nome, e-mail, CPF, data de
        nascimento e telefone<br />(v) Dispositivo (versão do sistema
        operacional)
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>Geolocalização/Rastreamento</strong></span
        >
      </p>
      <p><strong>Cookies</strong></p>
      <p>
        Sobre os dados fornecidos por você. Fique sempre atento aos dados que
        você nos fornece, porque você é o único responsável pela precisão,
        veracidade ou falta dela em relação aos Dados fornecidos. Caso tenha
        ocorrido alguma alteração, você precisa nos comunicar para que os
        atualizemos.
      </p>
      <p>
        Base de Dados. Com a coleta dos seus dados, fazemos uma base de dados
        que será sempre de nossa propriedade, de forma que seu uso, acesso e
        compartilhamento, quando necessários, serão feitos dentro dos limites e
        propósitos dos negócios descritos nesta Política.
      </p>
      <p>Sobre as tecnologias que utilizamos.</p>
      <p>
        <strong>Nós utilizamos as seguintes tecnologias:</strong><br />(i)
        Cookies, cabendo a você configurar o seu navegador de internet para
        permitir ou não seu uso. Recomendamos que neste momento você não
        bloqueie “os cookies”, já que os utilizamos apenas para identificação de
        acesso e, caso você faça o bloqueio, o seu acesso poderá ser
        interrompido;
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>COMO COMPARTILHAMOS OS SEUS DADOS?</strong></span
        >
      </p>
      <p>
        Sempre evitamos o compartilhamento dos dados fornecidos por você.
        Entretanto, o compartilhamento de dados em alguns casos é
        imprescindível, como os seguintes: <br />(i) Com autoridades judiciais,
        administrativas ou governamentais competentes, sempre que houver
        determinação legal, requerimento, requisição ou ordem nesse sentido;<br />(ii)
        Com prestadores de serviço ou empresas parceiras, para facilitar, prover
        ou executar atividades relacionadas ao nosso serviço, como por exemplo o
        compartilhamento de dados para recebimento do pagamento pelo serviço que
        estamos prestando a você.<br />(iii) Com empresas de marketing e
        publicidade, para entregar as promoções e informações adequadas ao seu
        perfil, nunca utilizando os seus dados para fins comerciais e lucrativos
        e;<br />(iv) De forma automática, em caso de ocorrer alguma fusão,
        aquisição ou incorporação da GP Software, será inevitável o
        compartilhamento de dados com a empresa/pessoa envolvida na operação.<br />Se
        você tiver alguma dúvida sobre com quem compartilhamos seus Dados
        Pessoais, entre em contato conosco por meio do e-mail
        contato@gpsoftware.com.br e ficaremos, mais uma vez, felizes em
        ajudar.<br />Estamos muito bem treinados para proteger os seus dados e,
        consequentemente, a sua privacidade.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>COMO PROTEGEMOS SEUS DADOS?</strong></span
        >
      </p>
      <p>
        Estamos muito bem treinados para proteger os seus dados e,
        consequentemente, a sua privacidade.
      </p>
      <p>
        Seguindo a nossa política interna, os seus dados que foram coletados são
        acessados somente por profissionais devidamente autorizados, sempre
        respeitando a proporcionalidade, necessidade e relevância para os
        objetivos do nosso negócio.<br />Nunca daremos finalidade diversa aos
        seus dados, fique tranquilo. Este é um compromisso nosso com você!
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong
            >COMO VOCÊ TAMBÉM PODE PROTEGER OS SEUS DADOS PESSOAIS?</strong
          ></span
        >
      </p>
      <p>
        Não se esqueça, você também é responsável pelo sigilo de seus Dados.<br />Tenha
        ciência de que o compartilhamento de senhas e dados de acesso viola a
        nossa Política e pode comprometer a segurança dos seus Dados e do nosso
        site.<br />Se você perceber ou tomar conhecimento de que houve o
        comprometimento de segurança da sua conta, não deixe de entrar em
        contato conosco contato@gpsoftware.com.br e informar o que aconteceu.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>COMO ARMAZENAMOS SEUS DADOS?</strong></span
        >
      </p>
      <p>
        Armazenamos os seus Dados coletados e os registros de atividades (logs)
        em ambiente seguro e controlado. <br />Apenas fazemos o armazenamento
        dos seus Dados pelo tempo que for necessário para cumprir com as
        finalidades para as quais foram coletados (prestação do nosso serviço)
        ou para cumprimento de quaisquer obrigações legais e regulatórias ou
        para preservação de direitos. <br />Encerrando o prazo de manutenção e a
        necessidade legal, os Dados serão excluídos com uso de métodos de
        descarte seguro ou utilizados de forma anonimizada (para que você não
        seja identificado, como já explicamos) para fins estatísticos.
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong
            >QUAIS SÃO OS SEUS DIREITOS? ENTENDA COMO EXERCÊ-LOS!</strong
          ></span
        >
      </p>
      <p>
        <br />Sim, você tem direitos. <br />A LGPD trouxe diversos direitos
        relacionados aos seus Dados Pessoais, de forma que você poderá
        exercê-los facilmente, desde que entre em contato com nosso Canal de
        Atendimento ao final de nossa Política.<br />Os seus direitos são os
        seguintes:<br />(i) Confirmação e acesso: Se você desejar saber, poderá
        solicitar a confirmação sobre a existência de Tratamento dos seus Dados
        Pessoais e acessá-los, mediante a solicitação de cópias de registros que
        temos sobre você.<br />(i) Correção: Se os seus Dados estiverem
        incompletos, inexatos ou desatualizados, você poderá solicitar a
        correção.<br />(ii) Anonimização, bloqueio ou eliminação: Você poderá
        solicitar a anonimização dos seus Dados, para que eles não possam mais
        ser relacionados a você. Também poderá solicitar o bloqueio dos seus
        Dados, suspendendo temporariamente a possibilidade de Tratamento para
        certas finalidades, ou até mesmo a eliminação dos seus Dados.
        <br />(iii) Portabilidade: Se você desejar, poderá solicitar seus Dados
        em formato estruturado e interoperável (dados de forma transparente que
        possam fazer comunicação com outro sistema), com o objetivo de
        transferi-los a um terceiro, respeitando a nossa propriedade intelectual
        e nossos segredos de negócio.<br />(iv) Informação sobre
        compartilhamento: Também respeitando nossa propriedade intelectual e
        segredos de negócio, você poderá solicitar informações sobre terceiros
        (parceiros comerciais, empresas que processam o pagamento em cartão de
        crédito e etc) com os quais compartilhamos os seus Dados.<br />(v)
        Revogação do consentimento: Se você consentiu alguma vez em nosso site
        (marcando uma checkbox) para que pudéssemos realizar o tratamento dos
        seus Dados Pessoais, você poderá optar por retirar este consentimento.
        <br />A revogação do consentimento não afetará a legalidade de qualquer
        Tratamento realizado anteriormente. <br />Caso você revogue o
        consentimento para finalidades essenciais para a prestação de nosso
        serviço ou uso do aplicativo, infelizmente, estes poderão ficar
        indisponíveis para você.<br />(vi) Oposição: você poderá se opor ao
        Tratamento dos seus Dados, caso não concorde com alguma finalidade.<br />Sempre
        que você efetuar alguma requisição, com objetivo de exercer os seus
        direitos, a GP Software, possivelmente, solicitará informações
        complementares para comprovar sua identidade, buscando impedir
        fraudes.<br />Prometemos responder a sua requisição em um prazo razoável
        e sempre observar a legislação.<br />Poderemos deixar de atender as suas
        requisições nos seguintes casos:<br />(i) Caso o requerimento viole
        nossa propriedade intelectual ou segredo de negócios;<br />(ii) Quando
        houver obrigação legal ou regulatória para retenção de Dados; e<br />(iii)
        Quando for necessário reter os Dados para possibilitar nossa defesa ou
        de terceiros em disputas de qualquer natureza (Se alguém ingressar com
        uma ação, necessitamos dos dados para apresentar defesa no processo,
        entende?).
      </p>
      <p>
        <span style="text-decoration: underline"
          ><strong>DEMAIS INFORMAÇÕES</strong></span
        >
      </p>
      <p>
        Você tem ciência e reconhece que podemos alterar o teor desta Política a
        qualquer momento.<br />Pequenas alterações são sempre necessárias,
        porém, caso exista alguma atualização relevante, você será notificado
        por meio dos dados de contato que nos informar.<br />Esta Política de
        Privacidade sempre estará disponível para consulta.<br />Caso algum
        ponto desta Política seja considerado inaplicável por Autoridade de
        Dados ou judicial, as demais condições permanecerão em pleno vigor e
        efeito.<br />Mais uma vez, sinta-se à vontade para nos questionar o que
        for necessário.<br />Contato: contato@gpsoftware.com.br<br />Essa
        Política será interpretada segundo a legislação brasileira, no idioma
        português, sendo eleito o foro do seu domicílio para dirimir qualquer
        controvérsia que envolva este documento, salvo ressalva específica de
        competência pessoal, territorial ou funcional pela legislação aplicável.
      </p>
      <p><strong>Atualização: 27/07/2022</strong></p>
    </div>
  </div>
</div>
