<div class="rp-wrapper">
  <div class="logo-wrapper">
    <img src="./assets/shark-logo.png" alt="Logo" />
  </div>

  <div class="rp-container">
    <h3>Redefinição de senha</h3>

    <form (submit)="submit()" *ngIf="!isSuccessful">
      <app-input
        name="password"
        label="Nova senha"
        type="password"
        placeholder="Digite sua nova senha"
        [form]="form"
        inputWidth="100%"
      ></app-input>

      <app-input
        name="password2"
        label="Confirmação"
        type="password"
        placeholder="Confirme sua nova senha"
        [form]="form"
        inputWidth="100%"
      ></app-input>

      <app-button type="submit" (onSafeClick)="submit()" [enableLoading]="true"
        >Continuar</app-button
      >
    </form>

    <div class="success-container" *ngIf="isSuccessful">
      <p>Sua senha foi redefina com sucesso.</p>
      <app-button
        type="submit"
        (onSafeClick)="redirectToLogin()"
        [enableLoading]="true"
        >Voltar para o login</app-button
      >
    </div>

    <div class="error-message">
      <span *ngIf="isErrored">{{ errorMessage }}</span>
    </div>
  </div>
  <div class="burocratic-container">
    <a (click)="modalService.open({ name: 'terms-of-service', data: {} })"
      >Termos de Uso</a
    >
    <a (click)="modalService.open({ name: 'privacy-policy', data: {} })"
      >Política de Privacidade</a
    >
  </div>
</div>
