<div class="fp-wrapper">
  <div class="logo-wrapper">
    <img src="./assets/shark-logo.png" alt="Logo" />
  </div>

  <div class="fp-container">
    <h3>Esqueci minha senha</h3>

    <form (submit)="submit()" *ngIf="!isSuccessful">
      <app-input
        name="email"
        label="Email"
        placeholder="Digite seu email"
        [form]="form"
        inputWidth="100%"
      ></app-input>

      <app-button type="submit" (onSafeClick)="submit()" [enableLoading]="true"
        >Enviar recuperação</app-button
      >
    </form>

    <div class="success-container" *ngIf="isSuccessful">
      <p>
        Foi enviado um link para redefinição de senha para o email informado.
      </p>
      <app-button
        type="submit"
        (onSafeClick)="redirectToLogin()"
        [enableLoading]="true"
        >Voltar para o login</app-button
      >
    </div>

    <div class="anchor-link" *ngIf="!isSuccessful">
      <a [routerLink]="['/signin']">Voltar para o login</a>
    </div>

    <div class="error-message">
      <span *ngIf="isErrored">{{ errorMessage }}</span>
    </div>
  </div>

  <div class="burocratic-container">
    <a (click)="modalService.open({ name: 'terms-of-service', data: {} })"
      >Termos de Uso</a
    >
    <a (click)="modalService.open({ name: 'privacy-policy', data: {} })"
      >Política de Privacidade</a
    >
  </div>
</div>
