<div class="modal-wrapper" *ngIf="isOpen" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="modal-container">
    <div class="modal-header">
      <h3>Conectar na {{ definition.name }}</h3>

      <span (click)="close()" class="modal-header-close-button material-icons">
        close
      </span>
    </div>

    <div class="modal-content">
      <form (submit)="onFormSubmit()">
        <app-input
          [form]="form"
          name="accessToken"
          [label]="'Código de acesso da ' + definition.name"
          placeholder="Insira o código de acesso"
          inputWidth="100%"
        >
        </app-input>

        <app-button
          type="submit"
          [disabled]="form.invalid"
          [enableLoading]="true"
          >Conectar</app-button
        >
      </form>
      <div class="help-anchor">
        <a [href]="definition.helpVideoUrl" target="_blank"
          >Como pegar o código de acesso?</a
        >
      </div>
    </div>
  </div>
</div>
